:root {
  // Colors palette
  --red-100: #fbe9e9;
  --red-200: #f3bebe;
  --red-300: #eb9393;
  --red-400: #e36868;
  --red-500: #db3d3d;
  --red-600: #c22424;
  --red-700: #971c1c;
  --red-800: #6c1414;
  --red-900: #410c0c;

  // etc.

  // Fonts
  --ff-primary: 'Quicksand', sans-serif;

  --tabbar-height: 80px;
  --header-height: 72px;
}